/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f3f3f3 !important;
  font-family: "Noto Sans JP", sans-serif !important;
  min-height: 100vh;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}
.z-2 {
  z-index: 2;
}
.error_alert {
  text-align: center;
  padding: 6px;
  color: #a94442de;
  font-size: 15px;
}

/* ヘッダー */
header {
  padding: 15px 40px;
  z-index: 2;
}
.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app_name {
  font-size: 24px;
  color: rgba(109, 89, 57, 0.883);
  font-family: "Caveat", cursive;
  font-weight: bold;
  &:hover {
    color: rgba(109, 89, 57, 0.883);
    opacity: 0.8;
  }
}
.header_right {
  display: flex;
  font-family: "Kiwi Maru", serif;
}
.menu_item {
  text-align: center;
  width: 85px;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    opacity: 0.8;
  }
}
.icon_color {
  color: rgba(109, 89, 57, 0.883);
}
.icon_size {
  height: 22px;
}
.menu_item_text {
  margin-bottom: 0 !important;
  font-size: 12px;
  color: #53483d99;
  font-weight: bold;
}

/* ページネーション */
.pagination {
  justify-content: center;
  margin-top: 50px;
}
.pagination > li > a {
  border: none;
  color: #696969;
  border-radius: 50px !important;
  margin-right: 10px;
}
.pagination > .active > a {
  background-color: #acacac;
  border-radius: 50px !important;
}
.page-link:focus {
  box-shadow: none !important;
}
.pagination > li > a:hover {
  background-color: #acacac;
  color: white;
}

/* フッター */
footer {
  background-color: #4e4031;
  color: #f3f3f3;
  position: sticky;
  top: 100vh;
  padding: 20px 0;
  text-align: center;
  p {
    margin-bottom: 0 !important;
    font-size: 14px;
  }
}
