/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f3f3f3 !important;
  font-family: "Noto Sans JP", sans-serif !important;
  min-height: 100vh;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}
.z-2 {
  z-index: 2;
}
.error_alert {
  text-align: center;
  padding: 6px;
  color: #a94442de;
  font-size: 15px;
}

/* ヘッダー */
header {
  padding: 15px 40px;
  z-index: 2;
}
.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app_name {
  font-size: 24px;
  color: rgba(109, 89, 57, 0.883);
  font-family: "Caveat", cursive;
  font-weight: bold;
  &:hover {
    color: rgba(109, 89, 57, 0.883);
    opacity: 0.8;
  }
}
.phone_header {
  display: none;
}
.header_right {
  display: flex;
  font-family: "Kiwi Maru", serif;
}
.menu_item {
  text-align: center;
  width: 85px;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    opacity: 0.8;
  }
}
.icon_color {
  color: rgba(109, 89, 57, 0.883);
}
.icon_size {
  height: 22px;
}
.menu_item_text {
  margin-bottom: 0 !important;
  font-size: 12px;
  color: #53483d99;
  font-weight: bold;
}

/* ページネーション */
.pagination {
  justify-content: center;
  margin-top: 50px;
}
.pagination > li > a {
  border: none;
  color: #696969;
  border-radius: 50px !important;
  margin-right: 10px;
}
.pagination > .active > a {
  background-color: #acacac;
  border-radius: 50px !important;
}
.page-link:focus {
  box-shadow: none !important;
}
.pagination > li > a:hover {
  background-color: #acacac;
  color: white;
}

/* フッター */
footer {
  background-color: #4e4031;
  color: #f3f3f3;
  position: sticky;
  top: 100vh;
  padding: 20px 0;
  text-align: center;
  p {
    margin-bottom: 0 !important;
    font-size: 14px;
  }
}

/* レスポンシブ */
/* ヘッダー */
@media screen and (max-width: 500px) {
  header {
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .header_right {
    display: none;
  }
  .phone_header {
    display: block;
  }
  .app_name {
    font-size: 18px;
  }
  footer {
    display: none;
  }
  .hamburger {
    display: block;
    position: fixed;
    z-index: 10;
    right: 13px;
    top: 5px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: white;
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    background: white;
  }
  .header__nav.active {
    transform: translateX(0);
  }
  .nav-items {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
  }
  .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    transition: ease 0.4s;
    z-index: 7;
    position: fixed;
    right: -70%;
  }
  .nav-items__item a {
    color: rgba(255, 255, 255, 0.817);
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: solid 1px white;
    &:hover {
      color: white;
    }
  }
  .nav-items__item:last-child a {
    margin-bottom: 0;
  }
}
