/* トップページ */
.main_image {
  background-image: image-url("top_image.jpg");
  background-color: rgba(255, 255, 255, 0.45);
  background-blend-mode: lighten;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}
.top_app_name {
  text-align: center;
  padding-top: 15%;
  color: #2c241c;
  h2 {
    font-size: 110px;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: "Caveat", cursive;
  }
  h3 {
    font-size: 40px;
    letter-spacing: 1px;
    font-family: "Kiwi Maru", serif;
  }
}
.top_description {
  height: 900px;
  color: rgba(109, 89, 57, 0.883);
  text-align: center;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
}
.app_title {
  font-size: 60px;
  font-family: "Caveat", cursive;
}
.app_text {
  font-size: 20px;
  margin-bottom: 40px;
}
.card_area {
  display: flex;
  margin-bottom: 60px;
}
.l-wrapper_02 {
  margin: 1rem auto;
  width: 25%;
}
.card-radius_02 {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card_02 {
  background-color: #fff;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.16);
  color: rgba(109, 89, 57, 0.883);
  text-decoration: none;
}

.card__header_02 {
  display: flex;
  flex-wrap: wrap;
}

.card__title_02 {
  padding: 1rem 1.5rem 0;
  font-size: 1.6rem;
  order: 1;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 3px rgba(109, 89, 57, 0.883);
}

.card__thumbnail_02 {
  margin: 0;
  order: 0;
}

.card__image_02 {
  width: 100%;
  height: 200px;
}

.card__body_02 {
  padding: 0 1.5rem;
  text-align: left;
}

.card__text_02 {
  font-size: 0.8rem;
  text-decoration: none;
}

.card__text2_02 {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-bottom: 10px;
}
.button018 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 225px;
  padding: 10px 0px 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.button018 a:before,
.button018 a:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
}
.button018 a:before {
  width: 0.5rem;
  height: 0.5rem;
  left: 1.1rem;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  z-index: 2;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s;
}
.button018 a:after {
  left: 0;
  background: rgba(109, 89, 57, 0.883);
  z-index: 1;
  width: 3rem;
  height: 3rem;
  border-radius: 4rem;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.button018 a span {
  position: relative;
  transition: all 0.3s;
  z-index: 3;
  color: rgb(109, 89, 57);
}

.button018 a:hover span {
  color: #fff;
}
.button018 a:hover:before {
  left: 2rem;
}
.button018 a:hover:after {
  right: 0;
  width: 100%;
}

/* レスポンシブ */
@media screen and (max-width: 500px) {
  .top_app_name {
    padding-top: 200px;
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 20px;
    }
  }
  .main_image {
    background-image: image-url("sign_in_icon.png");
    width: 100%;
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
  }
  .top_description {
    height: 900px;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .app_title {
    font-size: 30px;
  }
  .app_text {
    font-size: 14px;
    text-align: left;
    margin-bottom: 40px;
  }
  .card_area {
    display: block;
    margin-bottom: 80px;
  }
  .l-wrapper_02 {
    width: 100%;
    margin-bottom: 40px;
  }
  .card__title_02 {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    font-size: 16px;
  }
  .card__text2_02 {
    padding-bottom: 20px;
    font-size: 12px;
  }
  .card__image_02 {
    padding-left: 40px;
    display: none;
  }
  .button018 {
    padding-bottom: 50px;
  }
  .button018 a {
    display: block;
    padding: 10px 20px;
    max-width: 200px;
    background-color: rgb(109, 89, 57);
    border-radius: 50px;
  }
  .button018 a span {
    color: white;
    font-size: 15px;
  }
  .button018 a:before,
  .button018 a:after {
    display: none;
  }
}
