.post_form {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgb(158, 158, 158);
}
.post_field {
  margin: 0 auto;
  width: 80%;
  label {
    display: block;
    font-size: 18px;
    text-align: left;
    color: rgb(72, 72, 72);
  }
  .required::after {
    color: white;
    font-size: 11px;
    background-color: red;
    border-radius: 12px;
    padding: 0px 6px;
    margin-left: 6px;
    opacity: 0.8;
    content: "必須";
  }
  input {
    width: 100%;
    margin: 5px 0;
    border: 2px solid rgba(126, 126, 126, 0.421);
    opacity: 0.8;
    padding: 8px 10px;
    font-size: 18px;
    outline: 0;
    border-radius: 5px;
    &:focus {
      border: 2px solid rgb(124, 95, 71);
    }
  }
}
.post_file_field {
  background-color: rgb(250, 193, 87);
  cursor: pointer;
  padding: 15px 30px;
  width: 40%;
  border-radius: 10px;
  margin-bottom: 30px;
  &:hover {
    opacity: 0.6;
  }
  p {
    margin: 0;
    text-align: center;
    color: white;
  }
}
.post_btn {
  width: 30%;
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 168, 69, 0.641);
  border: none;
  border-radius: 30px;
  &:hover {
    opacity: 0.8;
  }
}
.material_field {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
  text-align: left;
  font-size: 18px;
  input {
    border: none;
    border-bottom: 2px solid rgba(104, 94, 84, 0.123);
    outline: 0;
    &:focus {
      border-bottom: 2px solid rgb(124, 95, 71);
    }
    &:first-child {
      width: 50%;
      margin-right: 20px;
    }
  }
}
.trash_icon {
  color: rgb(101, 101, 101);
  height: 30px;
  margin-left: 10px;
  &:hover {
    opacity: 0.8;
  }
}
.material_content {
  margin-bottom: 10px;
}
.add_btn {
  display: inline-block;
  color: white;
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 5px;
  background-color: rgb(137, 110, 85);
  border-radius: 30px;
  &:hover {
    color: white;
    opacity: 0.8;
  }
}
.procedure_field {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
  text-align: left;
  font-size: 18px;
}
.explanation {
  border: none;
  border-bottom: 2px solid rgba(104, 94, 84, 0.123);
  outline: 0;
  width: 90%;
  margin-bottom: 15px;
  margin-right: 100px;
  &:focus {
    border-bottom: 2px solid rgb(124, 95, 71);
  }
}
.process_image {
  font-size: 15px;
  color: rgb(78, 61, 32);
  width: 70%;
  &::before {
    content: "手順の画像  :  ";
  }
}
.flex {
  display: flex;
  align-items: center;
}
.post_border {
  border-bottom: 2px solid rgb(123, 96, 71);
}
