/* 入力フォーム */
.form_sub_title {
  font-size: 16px;
  color: rgba(255, 166, 0, 0.8);
  letter-spacing: 6px;
}
.form_title {
  color: rgba(255, 166, 0, 0.8);
  font-size: 32px;
  letter-spacing: 6px;
  font-weight: bold;
  font-family: "Kosugi Maru", sans-serif;
}
.form_area {
  z-index: 2;
}
.field {
  margin-bottom: 15px;
}
.input_field {
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 153, 0, 0.6);
  color: white;
  text-align: center;
  width: 50%;
  z-index: 2;
  font-weight: 300;
  outline: 0;
  transition-duration: 0.4s;
  &:hover {
    background-color: rgba(255, 153, 0, 0.9);
    cursor: pointer;
  }
  &:focus {
    background-color: white;
    width: 400px;
    color: #ff731cc0;
  }
}
.input_field::placeholder {
  color: white;
}

.form_btn {
  width: 25%;
  padding: 12px 16px;
  border: 2px solid rgba(227, 148, 59, 0.741);
  border-radius: 5px;
  background-color: transparent;
  color: rgb(255, 166, 0);
  &:hover {
    transition: all 0.4s;
    background-color: rgba(255, 161, 39, 0.582);
    color: rgb(255, 255, 255);
  }
}
.sign_up_link {
  color: rgba(41, 41, 41, 0.7);
  letter-spacing: 1px;
  display: block;
  margin-bottom: 5px;
  &:hover {
    color: rgb(248, 180, 84);
    transition: all 0.8s;
    opacity: 0.7;
  }
}
/* 背景 */
.area {
  background: #efecec;
  width: 100%;
  height: 100vh;
}
.circles {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 149, 0, 0.6);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/* マイページ */
.user {
  text-align: center;
  margin-top: 100px;
}
.user_image img {
  display: block;
  width: 100px;
  height: 100px;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.user_name {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(85, 85, 85);
}
.follows_link {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.follows_link a {
  margin-right: 15px;
  color: grey;
  &:last-child {
    margin-right: 0;
  }
}
.user_link_btn a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  height: 40px;
  padding: 7px 40px;
  margin: 0 20px;
  color: grey;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 10px;
  &:hover {
    color: rgb(173, 171, 171);
    background-color: rgba(254, 185, 73, 0.4);
    transition: 0.8s;
  }
}
.follow_btn a {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  height: 40px;
  padding: 5px 15px;
  margin: 0 20px;
  color: grey;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border: 2px solid rgb(148, 148, 148);
  border-radius: 50px;
  &:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(133, 133, 133, 0.4);
  }
}
.unsubscribe_link {
  color: gray;
}
.user_introduction {
  color: rgb(109, 109, 109);
  width: 30%;
  margin: 0 auto;
  margin-bottom: 50px;
  white-space: pre-wrap;
}
/* 編集ページ */
.file_input {
  display: none;
}
.file_field {
  cursor: pointer;
  margin-top: 30px;
  img {
    margin-bottom: 0px;
  }
}
.file_field img:hover {
  opacity: 0.7;
}
.text_area {
  height: 100px;
}

/* ユーザー一覧ページ */
.user_block {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  img {
    margin-bottom: 0px;
    margin-right: 30px;
    width: 60px;
    height: 60px;
  }
}
.user_right {
  text-align: left;
  color: rgb(69, 69, 69);
  &:hover {
    opacity: 0.8;
  }
  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-align: left;
    margin-bottom: 0 !important;
  }
}

/* フォロー関係 */
.text_color {
  color: rgb(109, 109, 109);
}
