<% if flash[:notice] %>
  <div class="alert alert-success mb-0 responsive_flash"><i class="fa-solid fa-check "></i><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger mb-0 responsive_flash"><i class="fa-solid fa-triangle-exclamation"></i><%= flash[:alert] %></div>
<% end %>
