<header>
  <div class="header_menu">
    <div class="header_left">
      <%= link_to  "/", class: "app_name" do%>
        My Food Diary
      <% end %>
    </div>
    <%= render "shared/pc_header" %>
    <%= render "shared/smartphone_header" %>
  </div>
</header>
