<div class="container-fluid position-absolute z-2 pb-5">
  <div class="user col-lg-9 mx-auto mt-5 p-5 post_form">
    <div class="comment_form comment_edit">
      <%= form_with model: [@post, @comment] , local: true do |f| %>
        <%= f.text_area :body, placeholder: "コメントを入力"%>
        <%= f.submit "編集する", class: "comment_btn" %>
      <% end %>
    </div>
  </div>
</div>
  
