<p>こんにちは <%= @resource.email %>さん!</p>

<p>My-Food-Diaryのご利用ありがとうございます!</p>

<p>こちらはパスワード変更の確認メールになります。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>上記のリンクにアクセスして新しいパスワードを作成するまでは、パスワードは変更されません。</p>

<p>引き続きよろしくお願いします!</p>
