<% provide(:title, "レシピ編集") %>
<div class="container-fluid z-2">
  <div class="user col-lg-9 mx-auto mt-3 p-5">
    <div class="post_form">
      <h2 class="mb-4 notification_title">レシピ編集</h2>
      <%= render "shared/post_form" %>
    </div>
  </div>
</div>
