<% provide(:title, "レシピ編集") %>
<div class="container-fluid position-absolute z-2">
  <div class="user col-lg-9 mx-auto mt-3 p-5">
    <h2 class="mb-4 form_title">レシピ編集</h2>
    <%= render "shared/post_form" %>
  </div>
</div>
