<% provide(:title, "レシピ投稿") %>
<div class="container-fluid z-2">
  <div class="user col-lg-9 mx-auto mt-5">
    <div class="post_form">
      <h2 class="mb-4 notification_title">レシピ作成</h2>
      <%= render "shared/post_form" %>
    </div>
  </div>
</div>
